


<div class="container">

<h2>Add a Car</h2>
    <form action="/add" method="post">

        <label for="name">Name:</label>
        <input type="text" name="name" required="true" placeholder="add name"><br><br>

        <label for="name">Brand:</label>
        <input type="text" name="brand" required="true" placeholder="add brand"><br><br>

        <label for="name">Engine Horsepower:</label>
        <input type="text" name="engineHp" required="true" placeholder="add engine horsepower"><br><br>
        <label for="name">Cylinder:</label>
        <input type="text" name="cylinder" required="true" placeholder="add engine cylinders"><br><br>

        <label for="name">Wheels:</label>
        <input type="text" name="wheels" required="true" placeholder="add amount of wheels"><br><br>
        
        <label for="name">Image:</label>
        <input type="text" name="carPath" required="true" placeholder="add a image for this car"><br><br>

        <label for="name">Mpg:</label>
        <input type="text" name="mpg" required="true" placeholder="add info on miles per gallon"><br><br>
        <label for="name">Fuel Compacity:</label>
         <input type="text" name="fuelCompacity" required="true" placeholder="add fuel compacity"><br><br>


        <button type="submit">Submit</button>
    </form>
</div>