

* { box-sizing: border-box; }

body {  
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red { background: red !important; }


.cars { border-bottom: 2px solid black; }

.cars p {
    font-size: 70%;
}


img { height: 200px; border-radius: 3px; }

form {
    padding: 20px;
}

.form-container {
    display: flex;
}


button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 3px;
}
